 h5 
{color:yellow;}
ul{list-style-type:none;}

#special_link:hover {color:orange;}
#special_link{text-decoration:none;}
body{background-color:pink;}
#special-list{background-color:red;}
#specialqualities{background-color:green;}
.tajh{font-family:verdana;}